# Node modules
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
out/

# Production builds
/build

# Coverage reports
/coverage

# MacOS specific files
.DS_Store

# Environment variables
.env*
.env.local

# Vercel deployment files
.vercel

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build files
*.tsbuildinfo
next-env.d.ts

# Miscellaneous files
*.pem
